{% extends 'app/base.html' %}

{% block breadcrumbs %}
    <a href="/">Home</a> / <a href="view_account">Account</a> / Change Password
{% endblock %}

{% block content %}

    <h1>Change Password</h1>

    <!-- Errors -->
    {% for field in form %}
        {% for error in field.errors %}
            <p style="color: red;">{{ field.name }}: {{ error }}</p>
        {% endfor %} {# errors #}
    {% endfor %} {# fields #}

    <form method="POST" method="change_password">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit">Change Password</button>
    </form>

{% endblock %} {# content #}
