{% extends 'app/base.html' %}

{% block breadcrumbs %}
    <a href="/">Home</a> / <a href="view_account">Account</a> / Change Password
{% endblock %}

{% block content %}

    <div align=center><h1>Change Password</h1></div>

    <div align=center><form method="POST">
        {% csrf_token %}
        <div class="form-group" style="padding-top:10px;">
            <label for="old_password" style="display:inline-block;">Old Password:</label>
            <input class="form-control" name="old_password"
                   type="password"
                   style="margin:0;width:20ch;display:inline-block;">
            <br><br>
            <label for="new_password1" style="display:inline-block;">New Password:</label>
            <input class="form-control" name="new_password1"
                   type="password"
                   style="margin:0;width:20ch;display:inline-block;">
            <br><br>
            <label for="new_password2" style="display:inline-block;">Confirm New Password:</label>
            <input class="form-control" name="new_password2"
                   type="password"
                   style="margin:0;width:20ch;display:inline-block;">
            <br><br>
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
        <a class="btn btn-outline-dark" href="/view_account">Cancel</a>
    </form></div>

{% endblock %} {# content #}
