{% extends 'app/base.html' %}

{% block header %}
    snaV: Checkout
{% endblock %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-sm" style="padding-left:0;">
                <!-- Shopping Cart -->
                {% if cart_items %}
                    {% for item in cart_items %}
                        <div class="card mb-3" style="width:500px;">
                            <div class="row no-gutters">
                                <div class="col-md-4" style="max-width:200px;">
                                    <img class="card-img" src="static/images/{{ item.item_key.image }}">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a class="card-title" href="item/{{ item.item_key.slug }}">{{ item.item_key.name }}</a>
                                        <h5>${{ item.item_key.price }}</h5>
                                        <div class="card-text">
                                            <form method="POST" action="/update_cart"
                                                  style="position:absolute;bottom:12px;">
                                                {% csrf_token %}
                                                <input type="hidden" name="item_key" value="{{ item.item_key.uid }}">
                                                <input type="hidden" name="user_key" value="{{ item.user_key.id }}">
                                                <label for="quantity">Quantity:</label>
                                                <div>
                                                    <input class="form-control" type="number" name="quantity"
                                                           min="1" value="{{ item.quantity }}"
                                                           max="{{ item.item_key.stock }}"
                                                           onchange="this.form.submit()"
                                                           style="width:8ch;margin:0;margin-right:6px;display:inline;">
                                                    <a>{{ item.item_key.stock }} in stock</a>
                                                </div>
                                            </form>
                                            <form method="POST" action="/view_cart">
                                                {% csrf_token %}
                                                <input type="hidden" name="item_key" value="{{ item.item_key.uid }}">
                                                <input type="hidden" name="user_key" value="{{ item.user_key.id }}">
                                                <button class="btn btn-outline-danger" type="submit"
                                                        style="position:absolute;bottom:12px;right:12px;">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %} {# items in shopping cart #}
                {% else %}
                    Your shopping cart is empty.
                {% endif %}
            </div>

            <div class="col-sm" style="padding-right:0;text-align:right;">
                <div class="card" style="position:absolute;right:0;">
                    <div class="card-body">
                        <!-- Checkout -->
                        <h3>Total: ${{ total }}</h3>
                        <a>
                            Subtotal: ${{ subtotal }}<br>
                            Tax: ${{ tax }}<br>
                            Estimated Shipping: {{ shipping }}<br>
                        </a>
                    </div>

                    <div class="card-footer">
                        {% if cart_items %}
                            <form method="POST" style="text-align:left;" action="/checkout">
                                {% csrf_token %}
                                <label for="address">Address:</label>
                                <input class="form-control" name="address" type="text"
                                       style="margin:0;" value="{{ user.address }}" required>
                                <label for="credit_card" style="padding-top:10px;">Credit Card:</label>
                                <input class="form-control" name="credit_card" type="text"
                                       style="margin:0;"
                                       value="{{ user.credit_card }}" required>
                                <label for="cardholder" style="padding-top:10px;">Cardholder's Name:</label>
                                <input class="form-control" name="cardholder" type="text"
                                       style="margin:0;" placeholder="Johnny Appleseed" required>
                                <div style="margin-top:10px;">
                                    <div style="float:left;">
                                        <label for="ccv">CCV:</label>
                                        <input class="form-control" name="ccv" type="password"
                                               style="margin:0;width:11ch;margin-bottom:15px;"
                                               placeholder="0000" required>
                                    </div>
                                    <div style="float:right;">
                                        <label for="exp_date">Exp. Date:</label>
                                        <input class="form-control" name="exp_date" type="text"
                                               style="margin:0;width:11ch;margin-bottom:15px;"
                                               placeholder="mm/dd" required>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                    <button type="submit" href="/checkout" class="btn btn-primary"
                                       style="width:100%;margin-bottom:2px;">Place Order</button>
                                </div>
                            </form>
                        {% else %}
                            <a href="/checkout" class="btn btn-secondary disabled">Confirm and Pay</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %} {# content #}
