{% extends 'app/base.html' %}

{% block content %}

    <h1>Manage Account</h1>

    <!-- Errors -->
    {% for field in form %}
        {% for error in field.errors %}
            <p style="color: red;">{{ field.name }}: {{ error }}</p>
        {% endfor %} {# errors #}
    {% endfor %} {# fields #}

    <!-- Form -->
    <form method="POST" action="update_account">
        {% csrf_token %}
        <p>
            First Name: <input name="first_name" type="text" value="{{ user.first_name }}">
            <br>
            Last Name: <input name="last_name" type="text" value="{{ user.last_name }}">
        </p>
        <p>
            Username: <input name="username" type="text" value="{{ user.username }}">
            <br>
            Email: <input name="email" type="text" value="{{ user.email }}">
        </p>
        <p>
            Address: <input name="address" type="text" value="{{ user.address }}">
            <br>
            Phone Number: <input name="phone_number" type="text" value="{{ user.phone_number }}">
            <br>
            Credit Card: <input name="credit_card" type="text" value="{{ user.credit_card }}">
        </p>
        <button type="submit">Update</button>
    </form>

{% endblock %} {# content #}
