{% extends 'app/base.html' %}

{% block header %}
    snaV: Update Account
{% endblock %}

{% block title %}Update Account{% endblock %}

{% block content %}

    <!-- Form -->
    <form method="POST" action="update_account">
        {% csrf_token %}
        <div class="form-group" style="padding-top:10px;">
            <label for="first_name" style="display:inline-block;">First Name:</label>
            <input class="form-control" name="first_name"
                   type="text" value="{{ user.first_name }}"
                   style="margin:0;width:20ch;display:inline-block;">
            <br><br>
            <label for="last_name" style="display:inline-block;">Last Name:</label>
            <input class="form-control" name="last_name"
                   type="text" value="{{ user.last_name }}"
                   style="margin:0;width:20ch;display:inline-block;">
            <br><br>
            <label for="username" style="display:inline-block;">Username:</label>
            <input class="form-control" name="username"
                   type="text" value="{{ user.username }}"
                   style="margin:0;width:20ch;display:inline-block;">
            <br><br>
            <label for="email" style="display:inline-block;">Email:</label>
            <input class="form-control" name="email"
                   type="text" value="{{ user.email }}"
                   style="margin:0;width:20ch;display:inline-block;">
            <br><br>
            <label>Address:</label>
            <input class="form-control" name="address"
                   type="text" value="{{ user.address }}"
                   style="margin:0;width:20ch;display:inline-block;">
            <br><br>
            <label style="display:inline-block;">Phone Number:</label>
            <input class="form-control" name="phone_number"
                   type="text" value="{{ user.phone_number }}"
                   style="margin:0;width:20ch;display:inline-block;">
            <br><br>
            <label style="display:inline-block;">Credit Card:</label>
            <input class="form-control" name="credit_card"
                   type="text" value="{{ user.credit_card }}" style="margin:0;width:20ch;display:inline-block;">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
        <a class="btn btn-outline-dark" href="/view_account">Cancel</a>
    </form>

{% endblock %} {# content #}
