{% extends 'app/base.html' %}

{% block breadcrumbs %}
    <a href="/">Home</a> / <a href="view_account">Account</a> / Update Info
{% endblock %}

{% block content %}

    <h1>Manage Account</h1>

    <!-- Errors -->
    {% for field in form %}
        {% for error in field.errors %}
            <p style="color: red;">{{ field.name }}: {{ error }}</p>
        {% endfor %} {# errors #}
    {% endfor %} {# fields #}

    <!-- Form -->
    <form method="POST" action="update_account">
        {% csrf_token %}
        <p>
            First Name: <input name="first_name" type="text" value="{{ user.first_name }}">
            <br>
            Last Name: <input name="last_name" type="text" value="{{ user.last_name }}">
        </p>
        <p>
            Username: <input name="username" type="text" value="{{ user.username }}">
            <br>
            Email: <input name="email" type="text" value="{{ user.email }}">
        </p>
        <button type="submit">Update</button>
    </form>

{% endblock %} {# content #}
