{% extends 'app/base.html' %}

{% block header %}
    snaV: Shopping Cart
{% endblock %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-sm" style="padding-left:0;">
                <!-- Shopping Cart -->
                {% if cart_items %}
                    {% for item in cart_items %}
                        <div class="card mb-3" style="width:500px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img class="card-img" src="static/images/{{ item.item_key.image }}">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a class="card-title" href="item/{{ item.item_key.slug }}">{{ item.item_key.name }}</a>
                                        <h5>${{ item.item_key.price }}</h5>
                                        <div class="card-text">
                                            <form method="POST" action="/update_cart"
                                                  style="position:absolute;bottom:12px;">
                                                {% csrf_token %}
                                                <input type="hidden" name="item_key" value="{{ item.item_key.uid }}">
                                                <input type="hidden" name="user_key" value="{{ item.user_key.id }}">
                                                <label for="quantity">Quantity:</label>
                                                <div>
                                                    <input class="form-control" type="number" name="quantity"
                                                           min="1" value="{{ item.quantity }}"
                                                           max="{{ item.item_key.stock }}"
                                                           onchange="this.form.submit()"
                                                           style="width:8ch;margin:0;margin-right:6px;display:inline;">
                                                    <a>{{ item.item_key.stock }} in stock</a>
                                                </div>
                                            </form>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="item_key" value="{{ item.item_key.uid }}">
                                                <input type="hidden" name="user_key" value="{{ item.user_key.id }}">
                                                <button class="btn btn-outline-danger" type="submit"
                                                        style="position:absolute;bottom:12px;right:12px;">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %} {# items in shopping cart #}
                {% else %}
                    Your shopping cart is empty.
                {% endif %}
            </div>

            <div class="col-sm" style="padding-right:0;text-align:right;">
                <div class="card" style="position:absolute;right:0;">
                    <div class="card-body">
                        <!-- Checkout -->
                        <h3>Total: ${{ total }}</h3>
                        <a>
                            Subtotal: ${{ subtotal }}<br>
                            Tax: ${{ tax }}<br>
                            Estimated Shipping: {{ shipping }}<br>
                        </a>
                    </div>

                    <div class="card-footer">
                        {% if cart_items %}
                            <a href="/checkout" class="btn btn-primary" style="width:100%;">Checkout</a>
                        {% else %}
                            <a href="/checkout" class="btn btn-secondary disabled" style="width:100%;">Checkout</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %} {# content #}
