{% extends 'app/base.html' %}

{% block header %}
    snaV: Manage Account
{% endblock %}

{% block title %}Manage Account{% endblock %}

{% block content %}
    <p>
        <b>Full Name:</b>
        {% if user.first_name and user.last_name %}
            {{ user.first_name }} {{ user.last_name }}
        {% else %}
            <i>none</i>
        {% endif %}
    </p>
    <p>
        <b>Username:</b> {{ user.username }}
        <br>
        <b>Email:</b>
        {% if user.email %}
            {{ user.email }}
        {% else %}
            <i>none</i>
        {% endif %}
    </p>
    <p>
        <b>Address:</b>
        {% if user.address %}
            {{ user.address }}
        {% else %}
            <i>none</i>
        {% endif %}
        <br>
        <b>Phone Number:</b>
        {% if user.phone_number %}
            {{ user.phone_number }}
        {% else %}
            <i>none</i>
        {% endif %}
        <br>
        <b>Credit Card:</b>
        {% if user.credit_card %}
            {{ user.credit_card }}
        {% else %}
            <i>none</i>
        {% endif %}
    </p>
    <p>
        <a class="btn btn-outline-primary" href="update_account">Update Above Information</a>
        <a class="btn btn-outline-primary" href="change_password">Change Password</a>
        <br><br>
        <a class="btn btn-dark" href="/accounts/logout">Logout</a>
        <a class="btn btn-outline-dark" href="/admin">Admin Site</a>
    </p>
{% endblock %} {# content #}
