{% extends 'app/base.html' %}

{% block content %}
    <!-- Shopping Cart -->
    <h1>Shopping Cart</h1>
    <table>
        {% for item in cart_items %}
            <tr id="row-{{ item.item_key.uid }}">
                <td>
                    <img src="static/images/{{ item.item_key.image }}" width="100" height="100">
                </td>
                <td>
                    <a href="item/{{ item.item_key.slug }}">{{ item.item_key.name }}</a>
                    <br>
                    Quantity: {{ item.quantity }}
                </td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="item_key" value="{{ item.item_key.uid }}">
                        <input type="hidden" name="user_key" value="{{ item.user_key.id }}">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
        {% endfor %} {# items in shopping cart #}
    </table>

    <!-- Checkout -->
    <a href="/checkout" class="btn btn-primary">Checkout</a>
{% endblock %} {# content #}
