{% extends 'app/base.html' %}

{% block content %}
    <!-- Account Info -->
    <h1>Manage Account</h1>

    <p>
        {{ user.first_name }}
        {{ user.last_name }}
    </p>
    <p>
        {{ user.username }}
        <br>
        {{ user.email }}
    </p>
    <p>
        {% if user.address %}
            {{ user.address }}
            <br>
        {% endif %}
        {% if user.phone_number %}
            {{ user.phone_number }}
            <br>
        {% endif %}
        {% if user.credit_card %}
            {{ user.credit_card }}
        {% endif %}
    </p>
    <p>
        <a href="update_account">Update Above Information</a>
        <br>
        <a href="change_password">Change Password</a>
    </p>

{% endblock %} {# content #}
