<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/alertify.rtl.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/alertify.min.css">
    <link rel="shortcut icon" href="{{ STATIC_URL }}/static/images/apple-touch-icon.png">
    <script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/alertify.min.js"></script>
    <title>
        {% block header %}
            snaV: Home
        {% endblock %}
    </title>
    <style>
        input{
            margin: 12px;
            padding: 2px;
        }
        button{
            padding-left: 12px;
        }

        #bold_this{
            font-weight: bold;
        }

        #all{
            box-sizing: border-box;
        }

        .column{
            float: left;
            width: 50%;
        }

        .row:after{
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    {% block navbar %}
        <nav class="navbar navbar-expand-lg bg-light justify-content-between">
            <div class="navbar-nav">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/logo.png" style="height:50px" alt="Home">
                </a>
            </div>
            <div>
                {% block search %}
                    <form class = "form-inline" method="POST" action="/browse">
                        {% csrf_token %}
                        <input class="form-control" type="text" name="name" placeholder="Search..." required>
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                {% endblock %} {# search #}
            </div>
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="/view_account">Account</a>
                    <a class="nav-link" href="/view_cart">Shopping Cart</a>
                    <a class="nav-link" href="/accounts/logout">Logout</a>
                {% else %}
                    <a class= "nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                {% endif %} {# user.is_authenticated #}
            </div>
        </nav>
    {% endblock %} {# navbar #}

    <div class="container">
        <h1 style="padding-top:10px;padding-bottom:10px;">{% block title %}{% endblock %}</h1>
        {% block messages %}{% endblock %}
        {% block login %}{% endblock %}
        {% block content %}{% endblock %}
    </div>

</body>

{% block script %}
    <script>
        {% if messages %}
            {% for message in messages %}
                alertify.set('notifier', 'position', 'bottom-left');
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    alertify.notify('{{ message }}', 'warning', 5, function() {});
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    {% if "shopping cart" in message %}
                        alertify.notify('{{ message }}', 'success', 5, function() {});
                    {% else %}
                        alertify.notify('{{ message }}', 'success', 5, function() {});
                    {% endif %}
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    alertify.notify('{{ message }}', 'error', 0, function() {});
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}

</html>