<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/bootstrap.css">
    <script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery-3.4.1.min.js"></script>
    {% block title %}
    <title>Title</title>
    {% endblock %}
</head>

<body>
    {% block navbar %}
        <nav class="navbar navbar-expand-lg bg-light justify-content-between">
            <div class="navbar-nav">
                <a class="navbar-brand" href="/">snaV</a>
                <a class="nav-link" href="/browse">Browse</a>
            </div>
            <div>
                {% block search %}
                    <form class="form-inline" method="POST" action="/browse">
                        {% csrf_token %}
                        <label for="name">Search:</label>
                        <input type="text" name="name">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                {% endblock %} {# search #}
            </div>
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="/view_account">Account</a>
                    <a class="nav-link" href="/view_cart">Shopping Cart</a>
                {% else %}
                    <a href="/accounts/login">Login</a>
                {% endif %} {# user.is_authenticated #}
            </div>
        </nav>
    {% endblock %} {# navbar #}

    {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %} {# for message #}
        {% endif %} {# if messages #}
    {% endblock %}

    {% block login %}{% endblock %}
    {% block content %}{% endblock %}
</body>

{% block script %}{% endblock %}

</html>