<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Title</title>
    {% endblock %}
</head>

<body>
    {% block breadcrumbs %}
        <a href="/">Home</a>
    {% endblock %}
    {% block login %}{% endblock %}
    {% block search %}
        <p>
            <form method="POST" action="/browse">
                {% csrf_token %}
                <label for="name">Search:</label>
                <input type="text" name="name"></input>
                <button type="submit">Search</button>
            </form>
        </p>

    {% endblock %}
    {% block content %}{% endblock %}
</body>

</html>