{% extends 'app/base.html' %}

{% block title %}Recently Added:{% endblock %}

{% block content %}
    {% if items %}
        <div class="row w-100">
            {% for item in items %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/item/{{ item.slug }}">
                            <img class="card-img-top" src="/static/images/{{ item.image }}" alt="{{ item.image }}">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/item/{{ item.slug }}">{{ item.name }}</a>
                            </h4>
                            <h5>${{ item.price }}</h5>
                            {% if item.stock <= 0 %}
                                <a style="color:red;">Out of Stock</a>
                            {% endif %}
                            <p class="card-text">{{ item.desc }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %} {# content #}